.user-event-dashboard {
    width: calc(100%);
    height: 88rem;
    position: absolute;
    top: 6.3rem;
    left: 0;
    background-color: var(--bg-color-3);
    padding: 3rem 4rem;
}

.user-event-dashboard>div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
}

.us-crt-btn {
    width: 19.2rem;
    height: 4.1rem;
    border-radius: var(--border-radius-1);
    background: var(--bg-color-2);
    color: var(--text-color-1);
    font-family: var(--font-family-3);
    font-size: 1.616rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    margin-bottom: 3rem;
}

.carousel-root {
    height: 70rem;
}

.carousel {
    border-radius: var(--border-radius-2);
    height: 100%;
}

.carousel-slide {
    height: 72rem;
    margin-top: 3rem;
    cursor: pointer;
    
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .control-dots .dot {
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: var(--bg-color-2) !important;
}

.carousel .control-dots .dot.selected {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.user-event-header{
    width: 100%;
    height: 4.5rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding-inline: 3rem;
}
.user-event-header>p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-event-content {
    width: 100%;
    height: 68.4rem;
    border-radius: 0.8078rem;
    background: #224957;
    padding: 3rem;
    overflow-y: scroll;
}

.user-event-content>div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    margin-bottom: 3rem;
    height: 4.5rem;
}

.user-event-content>div p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4136rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-event-content>div:hover{
    cursor: pointer;
    background-color:#093545;
}

.loader-div{
    height: 8rem !important;
    display: flex !important;
    justify-content: center !important;
}
.carousel-slide>div:nth-child(1){
    height: 60%;
}

.carousel-slide>div:nth-child(1) img{
    width: 100%;
    height: 100%;
}

.carousel-slide>div:nth-child(2){
    height: 40%;
    display: grid;
    grid-template-columns: 50rem 50rem;
    gap: 2rem;
    background-color: var(--bg-color-1);
    margin-top: 1rem;
    padding-inline:2rem;
    padding-block: 2rem;
}

.carousel-slide>div:nth-child(2) div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}
.carousel-slide>div:nth-child(2) div p{
    text-align: start;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media((min-width:400px) and (max-width:600px)){
    .carousel{
        height: 150%;
    }
    .user-event-dashboard{
        height: 130%;
    }
    .carousel-slide{
        height: auto
    }
    .carousel-slide>div:nth-child(2){
        grid-template-columns: 1fr;
        height:60%;
    }
}

@media((min-width:600px) and (max-width:1200px)){
    .carousel-slide>div:nth-child(2){
        grid-template-columns: 1fr 1fr;
        height:60%;
    }
}

@media(max-width:400px){
    .carousel{
        height: 110%;
    }
    .user-event-dashboard{
        height: 100vh;
    }
    .carousel-slide{
        height: auto
    }
    .carousel-slide>div:nth-child(2){
        grid-template-columns: 1fr;
        height:60%;
    }
}