/* background css start */
.admin-reset-otp {
    height: 102.4rem;
    width: 100%;
    background-image: url("/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: 1px solid var(--bg-color-1);
}

.wave1,
.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12.488rem;
    width: 100%;
}

.wave1 img {
    width: 100%;
    height: 100%;
}

.wave2 img {
    width: 100%;
    height: 100%;
}

.mode {
    position: absolute;
    bottom: 1.8rem;
    left: 4.25rem;
    right: 0;
    width: 7.875rem;
    height: 7.875rem;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode img {
    width: 100%;
    height: 100%;
}

/* background css ends------------ */

.admin-reset-otp>p {
    color: var(--text-color-1);
    text-align: center;
    font-family: var(--font-family-1);
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36.3rem;
}

.admin-reset-otp div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 4.4rem;
}

.admin-reset-otp div:nth-child(2) input {
    width: 33.7rem;
    height: 5.1rem;
    border-radius: var(--border-radius-3);
    border: none;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    padding: 1.447rem 0px 1.553rem 2.261rem;
}

.admin-reset-otp div:nth-child(2) input::placeholder {
    color: var(--text-color-1);
}

.admin-reset-otp div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-reset-otp div:nth-child(3) button {
    background-color: var(--bg-color-2);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    width: 30rem;
    height: 4.5rem;
    color: var(--text-color-1);
    text-align: center;
    font-family: var(--font-family-3);
    font-size: 1.6156rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3.4rem;
}

.admin-reset-otp div:nth-child(4) {
    width: 41.8913rem;
    height: 3.2505rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-reset-otp div:nth-child(4) p:nth-child(1) {
    color: var(--text-color-1);
    text-align: center;
    font-family: var(--font-family-3);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}

.admin-reset-otp div:nth-child(4) p:nth-child(2) {
    color: var(--text-color-2);
    font-family: var(--font-family-3);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    margin-left: 0.8rem;
}

@media(max-width:400px) {
    .admin-reset-otp>p {
        font-size: 5rem;
    }

    .admin-reset-otp div:nth-child(3) button {
        width: 33.7rem;
    }
}